

{###### Helper ##############}

{# todo don't use theme here! #}
{% macro jw_renderStart(form) %}
    {{ form.startEnd.start(" class=\"form-new\" ") | raw }}
{% endmacro %}



{% macro jw_startingDiv(producerInfo) %}
<div class="m-form-group {{ producerInfo.elementResult.validationResult.isSuccess? "has-success":
(producerInfo.elementResult.validationResult.isError?"has-error":"")
}}">
    {% endmacro %}




{# -------------- Router ---------- #}

{% macro renderIndividual(producerInfo) %}
<h1>Render individual</h1>
{% endmacro %}

{% macro renderFormFree(form) %}
    {{ jw_renderFormFree(form, {"override_types": {},
        "form_class": "form-new"}) }}
{% endmacro %}
