{{>jwebform/common/start}}
{{ #drawableElements }}
{{producerInfos.elementTypeName}}<br>

{{#elementNameInfo.XSRFProtectionType}}
{{{ producerInfos.html }}}
{{/elementNameInfo.XSRFProtectionType}}

{{#elementNameInfo.TextType}}
{{>jwebform/common/elements/text_type}}
{{/elementNameInfo.TextType}}

{{#elementNameInfo.NumberType}}
{{>jwebform/common/elements/text_type}}
{{/elementNameInfo.NumberType}}

{{#elementNameInfo.PasswordType}}
{{>jwebform/common/elements/text_type}}
{{/elementNameInfo.PasswordType}}

{{#elementNameInfo.SubmitType}}
{{>jwebform/common/elements/submit_type}}
{{/elementNameInfo.SubmitType}}

{{#elementNameInfo.TextAreaType}}
{{>jwebform/common/elements/text_area}}
{{/elementNameInfo.TextAreaType}}

{{#elementNameInfo.SelectType}}
{{>jwebform/common/elements/select_type}}
{{/elementNameInfo.SelectType}}


{{ /drawableElements }}
{{>jwebform/common/end}}




RadioType

TextDateType
CheckBoxType
SelectDateType
